@if (ingredient().isLoadingRemoving) {
  <div class="flex h-9 w-9 shrink-0 items-center justify-center">
    <span class="material-symbols-outlined text-tomato animate-spin">progress_activity</span>
  </div>
} @else {
  <button
    type="button"
    (click)="removeRecipeIngredient.execute(ingredient().id)"
    [attr.aria-label]="'Retirer ' + ingredient().name"
    class="bg-tomato/10 text-tomato hover:bg-tomato/20 flex h-9 w-9 shrink-0 items-center justify-center rounded-full transition-colors"
  >
    <span class="material-symbols-outlined text-xl">close</span>
  </button>
}
