@if (recipe().isLoadingUpdating) {
  <div class="flex h-11 w-11 shrink-0 items-center justify-center">
    <span class="material-symbols-outlined text-tomato animate-spin">progress_activity</span>
  </div>
} @else {
  <button
    type="button"
    (click)="updateRecipeMealsList.execute(recipe().id, !recipe().inMealsList)"
    [attr.aria-label]="recipe().inMealsList ? 'Retirer des repas' : 'Ajouter aux repas'"
    class="bg-tomato/10 text-tomato hover:bg-tomato/20 flex h-11 w-11 shrink-0 items-center justify-center rounded-full transition-colors"
  >
    <span class="material-symbols-outlined text-xl" [class.is-filled]="recipe().inMealsList">skillet</span>
  </button>
}
