/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --font-header: 'Zen Maru Gothic', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-rice-white: #FAF6EC;
  --color-nori: #1F2B22;
  --color-yuzu: #F2B705;
  --color-soy: #8B5E3C;
}

body {
  background-color: var(--color-rice-white);
  color: var(--color-nori);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}
